body {
    background: #0b0b0b;
    color: #ccc;
    font-family: Arial, sans-serif;
    text-align: center;
}

canvas {
    border: 1px solid black;
    max-width: 100%;
}

.aide {
    font-size: 14px;
}
